/* Global */
body{
    background-color: #7fdaff;*/
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

button{
    background: #3c66f0;
    color: #fff;
    border:0px;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 10%;
    
}

button.hover{
    background: #fff;
    color: #3c66f0;
    border: 1px solid #3c66f0;
    cursor: pointer;
}

ul{
    margin:0;
    padding:0;
    text-decoration: none;
    font-size: 16px;
}

ul a{
    text-decoration: none;
    font-size: 16px; 
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}


.page-title {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}


/* Header */

header{
    background: #0146b5;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:#960101 5px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #logo{
    float:left;
}

header #heading h1{
    margin: 0;
}

header nav{
    float: right;
}

header .current a{
    color: lightgreen;
    font-weight: bold;
}

header a:hover{
    color:#cccccc;
    font-weight: bold;
}

/* Showcase */

#showcase{
    min-height: 400px;
    text-align: left;
}

#showcase li{
    display: inline;
    text-decoration: none;
    font-size: 16px; 
}

#showcase h1{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

#showcase form input[id = "exp"]{
    padding: 10px;
    height: 100px;
    width: 95%;
    margin-bottom: 10px;
}

#showcase input {
/*    float: left;*/
    padding: 10px;
    height: 5px;
    width: 200px;
    margin-bottom: 5px;
}

#showcase p{
    font-size: 18px;
}

/*Footer*/
footer{
    padding:20px;
    margin-top: 100px;
    color:#ffffff;
    background-color: #e8491d;
    text-align: center;
}


/*Media section*/

@media(max-width: 768px){
    header #heading, header nav, header nav li, #showcase input{
        float:none;
        text-align: center;
        width: 100%;
    }
    
    #showcase button {
        width:100%;
        margin-bottom: 5px;
    }
    #logout{
        float:none;
        text-align: center;
        width: 100%;
        display: none;
    }
    
    header{
        padding-bottom: :20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
}


.onfinish {
    text-align: center;
    font-size: 20px;
}

.incorrect_password {
    display: none;
}

#logout {
    margin:5;
    padding:2px;
    text-decoration: none;
    font-size: 16px;
}

#weak-pwd {
    display: none;
}

#exists {
    display: none;
}

#invalid {
    display: none;
}
